#!/usr/bin/env zsh

# ~~~~~~~~~~~~~~~ Performance measurement start ~~~~~~~~~~~~~~~~

# Load the zsh/datetime module for EPOCHREALTIME variable
zmodload zsh/datetime
# Load terminfo for portable key sequences (Home/End/Delete, etc.)
zmodload zsh/terminfo
typeset -F shell_start=$EPOCHREALTIME

# ~~~~~~~~~~~~~~~ Environment ~~~~~~~~~~~~~~~~
source "<%$CONFIGURATION_DIR%>/environment"

# ~~~~~~~~~~~~~~~ Path ~~~~~~~~~~~~~~~~
# https://youtu.be/3rCljrDfZ3Y?t=180
# Sets up the PATH variable without duplicates

path=("${(@s/:/)PATH}")
path+=(
    $HOME/.bun/bin
    $HOME/.local/bin
    $HOME/bin
    $SCRIPTS
)
typeset -U path
path=($^path(N-/))
export PATH

# ~~~~~~~~~~~~~~~ Package Management (Zinit) ~~~~~~~~~~~~~~~
# Configuration is based on this video:
# https://www.youtube.com/watch?v=ud7YxC33Z3w

ZINIT_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/zinit/zinit.git"
if [ ! -d $ZINIT_HOME ]; then
    mkdir -p "$(dirname $ZINIT_HOME)"
    git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi
source "$ZINIT_HOME/zinit.zsh"

# ~~~~~~~~~~~~~~~ Zinit - fix conflicting aliases ~~~~~~~~~~~~~~~

zinit ice atload'unalias zi'

# ~~~~~~~~~~~~~~~ External Shell Mods ~~~~~~~~~~~~~~~

source <(fzf --zsh)
eval "$(starship init zsh)"
eval "$(zoxide init zsh)"

# ~~~~~~~~~~~~~~~ Basic Shell interaction Plugins ~~~~~~~~~~~~~~~

zinit light zsh-users/zsh-autosuggestions
zinit light zdharma-continuum/fast-syntax-highlighting
zinit light zsh-users/zsh-completions

zinit light jirutka/zsh-shift-select
zinit light aloxaf/fzf-tab
zinit snippet OMZP::dirhistory

# ~~~~~~~~~~~~~~~ Shell History & Behavior ~~~~~~~~~~~~~~~

export HISTSIZE=100000
export SAVEHIST=100000
export HISTFILE=~/.zsh_history
export HISTDUP=erase

setopt appendhistory        # append history to the history file
setopt sharehistory         # share history between sessions
setopt hist_ignore_space    # ignore commands starting with a space
setopt hist_ignore_all_dups # ignore duplicate commands
setopt hist_save_no_dups    # do not save duplicate commands
setopt hist_ignore_dups     # ignore duplicate commands
setopt hist_find_no_dups    # do not display duplicate commands

# ~~~~~~~~~~~~~~~ Custom Aliases ~~~~~~~~~~~~~~~

alias ls='eza -lga --icons=auto --color=auto --group-directories-first'
alias lsl='ls -s modified -la'
alias bat="bat --paging=always --italic-text=always --color=always --decorations=always --wrap=never"
alias cd='z'
alias cdi='zi'

# ~~~~~~~~~~~~~~~ Custom Functions ~~~~~~~~~~~~~~~

source "$SCRIPT_FNS/fcd.zsh"
source "$SCRIPT_FNS/y.zsh"

# ~~~~~~~~~~~~~~~ Keybindings ~~~~~~~~~~~~~~~

# Load keybindings via zinit snippet for speed (compiled and cached)
zinit snippet "$DOTFILES/zinit-snippets/keybindings.zsh"

# ~~~~~~~~~~~~~~~ Completions ~~~~~~~~~~~~~~~

fpath=($COMPLETIONS_DIR/configuration $fpath)
fpath=($COMPLETIONS_DIR/manual $fpath)

autoload -Uz compinit
compinit

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls $realpath'

zstyle ':completion:*' verbose yes
zstyle ':completion:*:descriptions' format '%B%d%b'     # Bold descriptions
zstyle ':completion:*:messages' format '%d'             # Normal messages
zstyle ':completion:*:warnings' format 'No matches: %d' # Warnings
zstyle ':completion:*' group-name ''                    # Group options by category

# bun completions
[ -s "/home/petr/.bun/_bun" ] && source "/home/petr/.bun/_bun"

# jj completions

source <(COMPLETE=zsh jj)

# ~~~~~~~~~~~~~~~ Performance measurement end ~~~~~~~~~~~~~~~~

local taken=$(printf "%.2f" $(( $EPOCHREALTIME - shell_start )))
print -P "%B%F{green}󱐋 Shell loaded in ${taken}s%f%b"
