/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #5dcfee !important;
  --toolbarbutton-icon-fill: #9de8ff !important;
  --toolbar-field-color: #dee3e5 !important;
  --tab-selected-textcolor: #9de8ff !important;
  --toolbar-color: #dee3e5 !important;
  --arrowpanel-color: #dee3e5 !important;
  --arrowpanel-background: #1b2022 !important;
  --sidebar-text-color: #dee3e5 !important;
/*  --zen-main-browser-background: #0f1416 !important; */
}

.sidebar-placesTree {
  background-color: #1b2022 !important;
}

#zen-workspaces-button {
  background-color: #1b2022 !important;
}

#TabsToolbar {
  background-color: #0f1416 !important;
}

.urlbar-background {
  background-color: #1b2022 !important;
}

.urlbar-input::selection {
  color: #003641 !important;
  background-color: #9de8ff !important;
}

.urlbarView-url {
  color: #bdc8cd !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #9de8ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #97dff5 !important;
  --identity-icon-color: #97dff5 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #9de8ff !important;
  --identity-icon-color: #9de8ff !important;
}

.identity-color-green {
  --identity-tab-color: #8be086 !important;
  --identity-icon-color: #8be086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8dc97 !important;
  --identity-icon-color: #e8dc97 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbcd7b !important;
  --identity-icon-color: #dbcd7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f64 !important;
  --identity-icon-color: #e05f64 !important;
}

.identity-color-pink {
  --identity-tab-color: #3d9499 !important;
  --identity-icon-color: #3d9499 !important;
}

.identity-color-purple {
  --identity-tab-color: #84b1bf !important;
  --identity-icon-color: #84b1bf !important;
}

#zen-appcontent-navbar-container {
  background-color: #0f1416 !important;
}
